# Python cache
__pycache__/

# Learning materials
learning-materials/

# Virtual environment
myenv/

# Photos folder
Photos/

# Workspace files
*.code-workspace

# useful functions.md
usefulFunctions.md